# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
*.db
*.sqlite3

# Firebase
firebase-admin.json

# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# Web/Mac/Windows/Linux builds
app/build/
app/.dart_tool/
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Flutter.podspec
app/android/.gradle/
app/android/local.properties
